:root {
  --main-color: #5C6CFC;
  --dark-color: #2D304E;
  --gray-color: #EDEDF1;
  --green-color:#0EBC7D;
}

.logo {
  width: 120px;
  height: 31px;
  background: rgba(255, 255, 255, 0.2);
  margin: 16px 24px 16px 0;
  float: left;
}

.site-layout {
  /* background-color: #fff; */
}
.site-layout-backgroundd {
  background-color: var(--gray-color);
  background-color: #fff;
    height: 100vh;
}
[data-theme="dark"] .site-layout .site-layout-background {
  background: #141414;
}

.layout{
  height: 100vh;
}

